<% include ./partials/boilerplate %>
<div class="header">
  <h1>Thank you for the opportunity</h1>
</div>
<div>
  <h3>These are the routes that can be visited</h3>
  <ul>
    <li><a href="/posts">Posts</a></li>
    <li><a href="/aboutme">About Me</a></li>
    <li><a href="/aboutme?description">About me Param description</a></li>
    <li><a href="/aboutme?tech">About me Param tech</a></li>
    <li><a href="/aboutme?techstack">About me Param techstack</a></li>
    <li><a href="/aboutme?hobbies">About me Param hobbies</a></li>
  </ul>
</div>

<% include ./partials/end%>