<% include ../partials/boilerplate %>

<div class="contain">
	<ol>
		<% posts.forEach(post => { %>
			<li><dt class="title"><%=post.title%></dt>
			<span class="body"><%=post.body%></span></li>
		<% }) %>
	</ol>
</div>

<% include ../partials/end%>